@font-face {
    font-family: "PokemonSolid";
    src: local("PokemonSolid"), url("../../fonts/PokemonSolid.ttf") format("truetype");
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonHome {
    cursor: pointer;
    border: none;
    padding: 14px 28px;
    margin: 5px;
    font-family: 'PokemonSolid';
    color: #fff;
    -webkit-text-stroke: 2px black;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #2D033B 0%, #810CA8 55%, #C147E9 90%);
    background-position: 90% 0;
    background-size: 200% 200%;
    box-shadow: 0 2px 8px -1px #3a003f;
    transition: all 0.5s ease;
}

.buttonHome:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

.name,
.id,
.hp,
.attack,
.defense,
.speed,
.height,
.weight,
.typesContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "PokemonSolid";
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 25px;
    background: #810CA8;
    border-radius: 20px;
    letter-spacing: 5px;
    height: 45px;
    width: 90vh;
}

.types{
    display: flex;
    align-items: center;
    border-radius: 20px;
    align-items: center;
    padding: 5px;
    height: 20px;
    font-size: 20px;
}

.img{
    height: 335px;
}

#normal{
    background: #828282 ;
}
#grass{
    background: #439937;
}
#fire{
    background: #e5613e;
}
#water{
    background: #309ae2;
}
#electric{
    background: #e0bd28;
}
#rock{
    background: #aaa581;
}
#fighting{
    background: #e5613e;
}
#psychic{
    background: #ea6c8d;
}
#ghost{
    background: #6f4570;
}
#poison{
    background: #9454cc;
}
#flying{
    background: #74abd1;
}
#ground{
    background: #a5733c;
}
#dragon{
    background: #576fbd;
}
#ice{
    background: #47c9c9;
}
#bug{
    background: #a0a028;
}
#steel{
    background: #6badc9;
}
#dark{
    background: #4f4747;
}
#fairy{
    background: #e28de2;
}
#shadow{
    background: #000000;
}
#unknown{
    background: #68a090;
}